[Desktop Entry]
Version=1.0
Type=Application
Name=ProjTC
Comment=ProjTC TUI
Exec=alacritty --class=ProjTC --title=ProjTC -e bash -c '$HOME/.local/share/projtc/bin/projtc'
Icon=Arch
Terminal=false
Categories=System;Utility;
StartupNotify=false 